html, body {
    min-height: 100vh;
    background-image: 
        linear-gradient(350deg, rgba(255,255,255,0.9) 60%, rgba(255,211,0,0.9) 50%),
        url('/layout-img-item.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0%, 100% 0, 100% 15%, 0 45%);
    z-index: -1;
}