.carousel :global(.carousel-indicators) {
    bottom: -50px !important;
  }

  .carousel :global(.carousel-control-prev){
    left: -180px !important;
  }
  .carousel :global(.carousel-control-next){
    right: -180px !important;
  }