.formContainer {
    position: relative;
    width: 100%;
}

.eventselect {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    align-items: start;
    border-style: solid;
    border-color: lightgrey;
    border-width: 0.02cm;
    z-index: 2;
    width: 100%;
    max-width: 66.666667%; 
    margin: 0 auto; 
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 27rem;
}

.locationselect {
    position: absolute;
    top: 100%;
    left: 50%;
    right: 25%;
    background-color: white;
    align-items: start;
    border-style: solid;
    border-color: lightgrey;
    border-width: 0.02cm;
    z-index: 2;
    width: 33.33%; 
    margin: 0 auto; 
    overflow-y: scroll;
    max-height: 17rem;
}